[Unit]
Description=The cloud firewall bouncer for CrowdSec
After=syslog.target network.target remote-fs.target nss-lookup.target crowdsec.service


[Service]
Type=notify
ExecStart=${BIN} -c ${CFG}/cs-cloud-firewall-bouncer.yaml
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target


